<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
        <script src="/js/app.js"></script>
    </head>
    <body><div class="main-content">
        {{>header}}
        <p>Hi guys.My Name is Anuj Shukla.Skilled in React, Node.js, JavaScript, PHP, Phalcon(PHP Framework), MongoDB, MySql, REST, GraphQL, Git, Github, Webpack, Gulp, Shopify Apps/Theme Development, Web Applications, and E-Commerce. 

Experience in developing SaaS-based Web Applications, E-commerce Integrations, Marketplace Integrations, Shopify Apps, E-Commerce Development, and Full Stack Development. Comfortable with working in a fast-paced and agile work environment.</p>
        <img class="portrait" src="./img/avatar.jpg">
        </div>
        <footer>
            {{>footer}}
        </footer>
         
    </body>
</html>